*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(10, 0, 88);
    /* display: flex;
    justify-content: center; */
    /* align-items: center; */
    
}
.flex{
    display: flex;
    /* display: grid; */
    /* position: relative; */
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    /* top: 050vh;
    left: 50vw; */
    /* background-color: yellow; */

}
#box1,#box2{
    display: flex;;
    height: 250px;
    width: 250px;
    background-color: red;
}
#box1{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
#input{
    position: relative;
    height: 50px;
    width: 75%;
}
#submitButton{
    height: 30px;
    width: 45%;
}
#box2{
    display: flex;
    flex-direction: column;
    gap: 7%;
    justify-content: center;
    align-items: center;

}
/* .guessField{

} */
#answerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    /* background-color: yellow; */
    height: 75%;
    width: 90%;
    padding: 5px;
}
.word{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    /* background-color: brown; */
    height: 15%;
    width: 100%;
}
.letter{
    display: flex;
    height: 1.5em;
    width: 1.5rem;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
}
#a1,#a2,#a3,#a4,#a5,#b1,#b2,#b3,#b4,#b5,#c1,#c2,#c3,#c4,#c5,#d1,#d2,#d3,#d4,#d5,#e1,#e2,#e3,#e4,#e5,#f1,#f2,#f3,#f4,#f5{
    background-color: red;
}
